/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    line-height: 1.4;
    font-size: 1em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'ProximaNova';
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.home {
  background: url("../img/header-bg.png") top center no-repeat;
  background-size: cover;
  color: #fff;
  height: 735px;
}

h1 {
  margin: 0px;
  text-indent: -9999px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.insideHome {
  margin: 0 auto;
  padding-top: 222px;
  width: 600px;
} 

.home p {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 50px;
}

div.center {
  margin-left: auto;
  margin-right: auto;
  width: 19em;
}

.home a {
  width: 164px;
  height: 49px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 27px 15px 13px;
  font-weight: lighter;
  font-family: 'ProximaNova';
}

.home a.center {
  width: 8em;
  margin-right: auto;
  margin-left: auto;
}

.home a img {
  padding-left: 30px;
}


header {
  background-color: #1b242f;
  height: 68px;
  position: relative;
}

nav {
  position: relative;
  top: 20px;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  float: left;
  margin-right: 50px;
  font-size: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #e74c3c;
}

header img {
  float: right;
}

/* ==================================
   ABOUT
 =================================== */

.about {

}

.about .row { 
  margin: 0 auto;
  width: 1400px;
  height: 394px;
  margin-top: 79px;
}

.about .row .col {
  width: 300px;
  height: 344px;
  float: left;
  margin-right: 50px;
}

.about .row .col img {
  margin: 0 auto;
  display: block;
}
.about .row .col h3 { 
  text-align: center;
  color: #666666;
  font-size: 25px;
}

.about .row .col p {
  text-align: center;
  color: #888888;
  font-size: 15px;
}

.about .row .imgCelular {
    display: inline-block;
    float: left;
    margin-right: 189px;
    margin-left: 72px; 
}

.about .row .text {
  width: 541px;
  height: 200px;
  float: left;
}
.about .row .text h3 {
  color: #666666;
  font-size: 40px;
}
.about .row .text p {
  font-size: 15px;
  color: #888888;
  margin-bottom: 44px;
}
.about .row .readMore {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
}

.about .row .readMore img {
  padding-left: 25px;
}

/* ==================================
   PORTFOLIO
 =================================== */
 .portfolio {

 }

 .portfolio .works
/* ==================================
   ALL
 =================================== */


a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

a:hover {
  color: #e74c3c;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/ProximaNova-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/ProximaNova-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src: url('../font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/ProximaNova-Bold.woff') format('woff'),
       url('../font/ProximaNova-Bold.ttf')  format('truetype'),
       url('../font/ProximaNova-Bold.svg#svgFontName') format('svg');
       font-weight: bold;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
